@import '@styles/variables';
@import '@styles/mixins';

.root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  @media screen and (max-width: $tablet) {
    padding-bottom: $mobile-menu-h;
  }

  @media screen and (max-width: $mobile-sm) {
    min-width: 300px;
  }
}

.view {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: $root-header-h;

  @media screen and (max-width: $tablet) {
    padding-top: $root-header-h-tablet;
  }
}

.wrapper {
  @include flex-start;

  position: relative;
  max-width: calc($desktop + $layout-px * 2);
  width: 100%;
  padding: 40px $layout-px 0;

  @media screen and (max-width: $laptop-lg) {
    max-width: calc($desktop + $layout-px-laptop-lg * 2);
    padding: 40px $layout-px-laptop-lg 0;
  }

  @media screen and (max-width: $laptop) {
    padding-top: 30px;
  }

  @media screen and (max-width: $tablet) {
    max-width: calc($desktop + $layout-px-tablet * 2);
    padding-left: $layout-px-tablet;
    padding-right: $layout-px-tablet;
  }

  @media screen and (max-width: $tablet-sm) {
    padding-top: 20px;
  }

  @media screen and (max-width: $tablet-sm) {
    max-width: calc($desktop + $layout-px-mobile-lg * 2);
    padding-left: $layout-px-mobile-lg;
    padding-right: $layout-px-mobile-lg;
  }
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 40px;
}

.withNavigation {
  $offsets: $layout-aside-margin-x + $layout-px * 2;
  $offsets-laptop-lg: $layout-aside-margin-x + $layout-px-laptop-lg * 2;
  $offsets-laptop: $layout-aside-margin-x-laptop + $layout-px-laptop-lg * 2;

  width: calc(100vw - $nav-aside-width - $offsets);

  @media screen and (max-width: $laptop-lg) {
    width: calc(100vw - $nav-aside-width - $offsets-laptop-lg);
  }

  @media screen and (max-width: $laptop) {
    width: calc(100vw - $nav-aside-width-laptop - $offsets-laptop);
  }

  @media screen and (max-width: $tablet) {
    width: clamp(100%, 100%, 100%);
  }
}

.withoutNavigation {
  width: 100%;
}
