@import '@styles/mixins';

.root {
  @include flex-center;

  height: 100%;
}

.content {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include media-hidden-max($tablet);
}

.userCartSummary {
  margin: 0 10px;
}

.hamburgerMenu {
  display: none;

  @media screen and (max-width: $tablet) {
    display: block;
  }
}
