@import '@styles/variables';
@import '@styles/mixins';

.selected {
  opacity: 100%;
}

.unselected {
  opacity: 40%;

  &:hover {
    opacity: 60%;
  }
}

.link {
  @include flex-center;

  flex-direction: column;
  font-size: 15px;
  font-weight: 500;

  @media screen and (max-width: $mobile-sm) {
    font-size: 14px;
  }
}

.imageContainer {
  @include size(34px);

  position: relative;
  display: block;
  margin-bottom: 2px;

  @media screen and (max-width: $mobile-lg) {
    @include size(30px);
  }
}
