@import '@styles/mixins';
@import '@styles/build_in_modules';

.root {
  @include flex-center;

  cursor: pointer;
  height: 100%;
  padding: 4px 16px 4px 12px;
  border-radius: 16px;
  background: $green-primary;
  transition: background 70ms ease-in;

  &:hover {
    @include bg-lightness($green-primary, -4%);
  }

  &:active {
    @include bg-lightness($green-primary, -7%);
  }

  span {
    font-size: 15px;
    font-weight: 500;
    color: $white-primary;
  }
}

.icon {
  fill: $white-primary;
}
