@import '@styles/mixins';
@import '@app/cart/styles/mixins';

$button-clear-w: 80px;

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 4px 0;
}

.informationContainer {
  width: calc(100% - $button-clear-w);
  margin-right: 6px;
}

.titleArticle {
  width: 100%;
  margin-bottom: 4px;
}

.title {
  @include section-title;
}

.totalPositions {
  font-size: 17px;
  color: $gray-900;
}

.buttonClear {
  width: $button-clear-w;
  height: 40px;
  align-self: flex-start;
}
