@import '@styles/variables';
@import '@styles/mixins';

.root {
  min-width: $nav-aside-width;
  width: $nav-aside-width;
  margin-right: $layout-aside-margin-x;

  @media screen and (max-width: $laptop) {
    min-width: $nav-aside-width-laptop;
    width: $nav-aside-width-laptop;
    margin-right: $layout-aside-margin-x-laptop;
  }

  @include media-hidden-max($tablet);
}

.title {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;

  @include media-hidden-max($laptop);
}
