@import '@styles/variables';
@import '@styles/mixins';

$width: 240px;
$width-sm: 50px;

.root {
  min-width: $width;
  width: $width;
  margin-right: $layout-aside-margin-x;

  @include media-hidden-max($tablet);

  @media screen and (max-width: $laptop) {
    min-width: $width-sm;
    width: $width-sm;
    margin-right: 22px;
  }
}

.title {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;

  @include media-hidden-max($laptop);
}
