@import '@styles/mixins';
@import '@styles/build_in_modules';

$bg-primary: $green-primary;
$color-primary: $white-primary;
$bg-secondary: $gray-500;
$color-secondary: $black-primary;

@mixin background($bg-color) {
  transition: background 50ms ease-in-out;
  background: $bg-color;

  &:hover {
    @include bg-lightness($bg-color, -4%);
  }

  &:active {
    @include bg-lightness($bg-color, -7%);
  }
}

.root {
  @include flex-center;

  height: 48px;
  border-radius: $button-border-radius;
}

.withoutIcon {
  padding: 0 16px;
}

.withIcon {
  padding: 0 10px;
}

.title {
  @include truncate;

  width: max-content;
  display: inline-block;
  font-size: 16px;
}

.titleWithLeadIcon {
  margin-left: 6px;
}

.titleWithTrailIcon {
  margin-right: 6px;
}

.primary {
  @include background($bg-primary);

  .title {
    color: $color-primary;
  }
}

.secondary {
  @include background($bg-secondary);

  .title {
    color: $color-secondary;
  }
}

.disabled {
  @include disabled(60%);
}
