@import '@styles/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: $black-primary;

  @include scrollbar;
}

body {
  min-height: 100vh;
  background: $gray-200;

  &::-webkit-scrollbar {
    background: transparent;

    @media screen and (max-width: $tablet) {
      background: linear-gradient(
        to bottom,
        transparent calc(100% - $mobile-menu-h),
        $white-primary $mobile-menu-h
      );
    }
  }

  &::-webkit-scrollbar-track {
    margin-top: $root-header-h;

    @media screen and (max-width: $tablet) {
      margin-top: $root-header-h-tablet;
      margin-bottom: $mobile-menu-h;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

li,
ul,
ol {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

button,
input {
  border: none;
  background: none;

  &:focus {
    border: none;
  }
}

.overflowHidden {
  overflow: hidden;
}
