@import '@styles/mixins';

.root {
  @include flex-center;

  height: 100%;
}

.userDashboard {
  @include media-hidden-max($tablet);
}

.hamburgerMenu {
  display: none;

  @media screen and (max-width: $tablet) {
    display: block;
  }
}
