@import '@styles/variables';
@import '@styles/mixins';

.image {
  @include square($category-image-size);

  min-width: $category-image-size;
  background-size: $category-image-size $category-image-size;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: $mobile-lg) {
    @include square($category-image-size);

    min-width: $category-image-size;
    background-size: $category-image-size-sm $category-image-size-sm;
  }
}

.imageFallback {
  @include square($category-image-size);

  min-width: $category-image-size;
  border-radius: 12px;
  background: $gray-500;

  @media screen and (max-width: $mobile-lg) {
    @include square($category-image-size-sm);

    min-width: $category-image-size-sm;
  }
}
