@import '@styles/variables';
@import '@styles/mixins';

.root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: $counter-changer-border-radius;
  background: $gray-200;
}

.rootSeparated {
  padding: 2px;
}

.countContainer {
  @include flex-center;

  width: 50px;
}

.countContainerSeparated {
  margin: 0 4px;
}

.count {
  @include truncate;

  width: 100%;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}
