@import '@styles/variables';
@import '@styles/mixins';

$logo-size-sm: 44px;

.root {
  min-width: 125px;
  display: flex;
  align-items: center;

  @media screen and (max-width: $tablet) {
    @include flex-center;

    min-width: $logo-size-sm;
    flex-direction: column;
  }
}

.logo {
  @include square(55px);

  border-radius: 50%;

  @media screen and (max-width: $tablet) {
    @include square($logo-size-sm);
  }
}

.link {
  @include flex-center;

  height: 100%;
  margin-right: 8px;

  @media screen and (max-width: $tablet) {
    margin-right: 0;
  }
}

.title {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;

  @include media-hidden-max($tablet);
}
