@import '@styles/variables';
@import '@styles/mixins';

.root {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($product-card-w, 1fr));
  gap: 10px;

  @media screen and (max-width: $tablet-sm) {
    justify-items: center;
  }
}

.card {
  width: 100%;
  max-width: 270px;
}
