@import '@styles/mixins';

.root {
  position: relative;
  z-index: 100;
}

.container {
  @include flex-center;

  position: fixed;
  inset: 0;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0 0 0 / 20%);
}
