@import '@styles/variables';

.root {
  max-width: $product-card-max-w * 4;
  min-width: calc(100vw - $nav-aside-width - $layout-aside-margin-x - $layout-px * 2);

  @media screen and (max-width: $laptop-lg) {
    min-width: calc(100vw - $nav-aside-width - $layout-aside-margin-x - $layout-px-laptop-lg * 2);
  }

  @media screen and (max-width: $laptop) {
    min-width: calc(100vw - $nav-aside-width-laptop - $layout-aside-margin-x-laptop - $layout-px-laptop-lg * 2);
  }

  @media screen and (max-width: $tablet) {
    width: clamp(100%, 100%, 100%);
  }
}
