@import '@styles/mixins';

.root {
  @include square(44px);
  @include flex-center;

  position: fixed;
  right: 3%;
  bottom: 3%;
  padding-bottom: 3px;
  border-radius: 50%;
  background: $green-primary;
  box-shadow: 0 8px 20px rgb(0 0 0 / 7%);
  opacity: 80%;
  z-index: 20;
  transition: opacity 50ms ease-in;

  &:hover {
    opacity: 100%;
  }

  @media screen and (max-width: $tablet) {
    bottom: $mobile-menu-h + 14px;
  }
}

.icon {
  @include square(30px);

  stroke: $white-primary;
}
