@import '@styles/variables';
@import '@styles/mixins';

.root {
  @include size-screen;
  @include flex-center;

  background: $white-primary;
}

.content {
  @include size-full;
  @include flex-center;

  max-width: 450px;
  flex-direction: column;
  padding: 0 18px;

  @media screen and (max-width: $mobile-md) {
    padding: 0 12px;
  }
}
