@import '@styles/mixins';

.root {
  @include square($avatar-size);

  position: relative;
  border-radius: 50%;
  background: $gray-600;
}

.withAction {
  cursor: pointer;
}

.image {
  padding: 6px;
}
