@import '@styles/variables';

.root {
  max-width: 800px;
  width: 100%;
  padding: 32px;
  border-radius: 32px;
  background: $white-primary;

  @media screen and (max-width: $tablet) {
    padding: 24px;
  }

  @media screen and (max-width: $tablet-sm) {
    padding: 20px;
  }

  @media screen and (max-width: $mobile-md) {
    padding: 20px 16px;
  }
}
