@import '@styles/variables';

.root {
  max-width: 450px;
  width: 100%;
  margin: 0 14px;
  padding: 24px;
  border-radius: 32px;
  background: $white-primary;

  @media screen and (max-width: $mobile-lg) {
    padding: 16px 22px;
  }
}

.header {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 24px;

  @media screen and (max-width: $mobile-lg) {
    padding-bottom: 18px;
  }
}

.titleArticle {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 500;

  @media screen and (max-width: $mobile-lg) {
    font-size: 22px;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  flex: 1 1 auto;

  &:nth-of-type(1) {
    margin-right: 6px;
  }

  &:nth-of-type(2) {
    margin-left: 6px;
  }

  span {
    font-size: 18px;
    font-weight: 500;
  }
}
