@import '@styles/variables';
@import '@styles/mixins';

.root {
  @include square(44px);

  border-radius: 16px;
  opacity: 45%;
  transition: opacity 40ms ease-in;

  &:hover {
    opacity: 100%;
  }
}

.button {
  @include flex-center;
  @include size-full;

  cursor: pointer;
}
