@import '@styles/variables';
@import '@styles/mixins';

.root {
  @include square($category-image-size);

  position: relative;

  @media screen and (max-width: $mobile-lg) {
    @include square($category-image-size-mobile-lg);
  }
}

.imageFallback {
  @include size-full;

  border-radius: 12px;
  background: $gray-500;
}
