@import 'variables';

@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin size-full {
  width: 100%;
  height: 100%;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin top-left-fixed($z-index) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index;
}

// Components
@mixin divider-x($bg-color) {
  width: 100%;
  height: $divider-x-h;
  background: $bg-color;
}

@mixin showcase-pages-content {
  $offsets: $layout-aside-margin-x + $layout-px * 2;
  $offsets-laptop-lg: $layout-aside-margin-x + $layout-px-laptop-lg * 2;
  $offsets-laptop: $layout-aside-margin-x-laptop + $layout-px-laptop-lg * 2;

  max-width: $product-card-max-w * 4;
  min-width: calc(100vw - $nav-aside-width - $offsets);

  @media screen and (max-width: $laptop-lg) {
    min-width: calc(100vw - $nav-aside-width - $offsets-laptop-lg);
  }

  @media screen and (max-width: $laptop) {
    min-width: calc(100vw - $nav-aside-width-laptop - $offsets-laptop);
  }

  @media screen and (max-width: $tablet) {
    width: clamp(100%, 100%, 100%);
  }
}

// Media
@mixin media-hidden-max($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    display: none;
  }
}

@mixin media-hidden-min($breakpoint) {
  @media screen and (min-width: $breakpoint + 1px) {
    display: none;
  }
}

// Typography
@mixin truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin vertical-line-clamp($rows) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $rows;
  word-break: break-word;
  overflow: hidden;
}
