@import 'variables';
@import 'animations';

/* Global */
@mixin disabled($opacity: 40%) {
  pointer-events: none;
  user-select: none;
  opacity: $opacity;
}

// Sizes
@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin size-full {
  width: 100%;
  height: 100%;
}

@mixin size-screen {
  width: 100vw;
  height: 100vh;
}

// Flex
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

// Position
@mixin top-left-fixed($z-index) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index;
}

/* Components */
@mixin divider-x($bg-color) {
  width: 100%;
  height: $divider-x-h;
  background: $bg-color;
}

@mixin skeleton($bg-color: $gray-400) {
  @include pulse;

  background: $bg-color;
}

/* Media */
@mixin media-hidden-max($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    display: none;
  }
}

@mixin media-hidden-min($breakpoint) {
  @media screen and (min-width: $breakpoint + 1px) {
    display: none;
  }
}

/* Typography */
@mixin truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin vertical-line-clamp($rows) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $rows;
  word-break: break-word;
  overflow: hidden;
}
