// Breakpoints
$mobileSm: 320px;
$mobileMd: 375px;
$mobileLg: 425px;
$tablet-sm: 600px;
$tablet: 768px;
$laptop: 1024px;
$laptopLg: 1440px;
$desktop: 1920px;
$desktopLg: 2560px;

// Colors
$black-primary: #252525;
$white-primary: #fff;
$gray-200: #f5f4f3;
