// Components
$mobile-menu-h: 70px;

// Breakpoints
$mobile-sm: 320px;
$mobile-md: 375px;
$mobile-lg: 425px;
$tablet-sm: 600px;
$tablet: 768px;
$laptop: 1024px;
$laptop-lg: 1440px;
$desktop: 1920px;
$desktop-lg: 2560px;

// Colors
$black-primary: #252525;
$white-primary: #fff;
$gray-200: #f5f4f3;
