// Components
$mobile-menu-h: 70px;
$root-header-h: 80px;
$root-header-h-sm: 60px;
$divider-x-h: 1px;
$layout-aside-margin-x: 32px;
$layout-aside-margin-x-laptop: 22px;
$layout-px: 55px;
$layout-px-laptop-lg: 35px;
$layout-px-tablet: 24px;
$layout-px-mobile-lg: 18px;
$nav-aside-width: 240px;
$nav-aside-width-laptop: 50px;
$product-card-max-w: 300px;
$product-card-w: 224px;
$product-card-w-sm: 172px;
$category-image-size: 44px;
$category-image-size-sm: 38px;
$category-section-header-load-more-btn-w: 80px;

// UI - components
$counter-changer-border-radius: 10px;

// Breakpoints
$mobile-sm: 320px;
$mobile-md: 375px;
$mobile-lg: 425px;
$tablet-sm: 600px;
$tablet: 768px;
$laptop: 1024px;
$laptop-lg: 1440px;
$desktop: 1920px;
$desktop-lg: 2560px;

// Colors
$black-primary: #252525;
$orange-primary: #fa6a3c;
$white-primary: #fff;
$gray-100: #f9f9f9;
$gray-200: #f5f4f3;
$gray-400: #ebeae9;
$gray-500: #e7e6e4;
$gray-600: #e4e4e4;
$gray-700: #dedddb;
$gray-800: #c9c5c2;
$gray-900: #9e9b98;
$neutral-100: #f7fafc;
$neutral-200: #edf2f7;
$neutral-300: #e2e8f0;
$neutral-400: #cbd5e0;
$neutral-500: #a0aec0;
$neutral-600: #718096;
